.menu{
  background: #ededed;
  width: 360px;
  margin-top: 10px;
  padding: 10px;
  height: 84vh;
  overflow: auto;
  ul{
    //border-bottom: solid;
    //border-color: #d0cece;
    padding: 10px;
  }
}